<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Member Home Page</h1>
	<h2>Welcome home </h2> 
	<a href="/user/userList">UserList</a> |
	<a href="/user">Profile</a> | 
	<a href="/logout">logout</a>
</body>
</html>